/* Aaron's Custom Styles */

#heading {
  text-align: center;
  background-color: #ffd69d;
}

#main-body {
  clear: both;
  padding: 10px 10px 20px 10px;
}

#left { 
  background-color: #eeeeee;
  float: left; 
  margin: 0 3px 0 10px;
  padding: 0 7px;
  width: 180px;
}

#right { 
  background-color: #D8D6FF;
  float: right; 
  margin: 0 10px 0 0;
  min-height: auto;
  padding: 0 7px;
  width: 200px; 
}

#center {
  background-color: #ffbac3;
  margin: 0 225px 0 205px;
  padding: 7px 10px 0 10px;
}

div#center > h1 {
  text-align: center;
}

#footer {
  clear: both;
  background-color: #fffbb1;
  padding: 5px 5px 5px 17px;
}

/*********************** Nav Styles 
*********************************************/

#nav {
  background-color: #97ffd1;
  height: 70px;
}

div#dropdown {
  position: relative;
  z-index: 100;

  width: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 0;
}

#dropdown > ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  text-align: center;
}

div#dropdown > ul:first-child {
  background-color: #b0e0e6;
}

div#dropdown > ul:first-child:hover {
  background-color: #;
}

li.firstTier:hover {
  background-color: #;
}

li.firstTier {
  background-color: #b0e0e6;

  /* Hidden to-be-revealed styles */
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.7s ease 0s;
}

li.secondTier {
  background-color: #60fffa;
  position: relative;
  /*top: 100px;
  left: 100px;*/

  /* Hidden to-be-revealed styles */
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.7s ease 0s;
}